# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE - specific
.vscode
.idea

# Items not ready for production
/Extras
/10. System Design & ML System Design/System_Design_primer.md
/10. System Design & ML System Design/image.png
/13. Data Engineering and Big Data tools/Tableau.md
