# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE - specific
.vscode
.idea

# Items not ready for production
/Extras
/12. Data Engineering and Big Data tools
/09. System Design & ML System Design
/04. Database Systems and Technologies
/03. Python for Data Science
/03. Data Structures and Algorithms

